/* Products container */
#productsHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-wrap: wrap;
  padding: 10px;
  border-radius: 2%;
  /* Container styles */
  background-color: rgba(199, 221, 197, 0.267);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
}

#manage {
  width: 100%;
  height: 100vh;
}

#caloguePageMainDiv {
  display: flex;
  position: relative;
  margin: auto;
  height: auto;
  max-width: 2000px;
}

/* Product Cards */

#productCardDescription {
  color: black;
  font-weight: 900;
}

#productCardTitle {
  color: black;
  font-size: 20px;
  font-weight: 900;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  max-width: 300px;
  margin: 15px;
  height: auto;
  max-height: 420px;
  text-align: center;
  font-family: arial;
  background-color: rgba(221, 197, 197, 0.363);
}

.title {
  color: black;
  font-size: 18px;
}

#button3 {
  color: black;
  width: 300px;
}

#productCardImage {
  border-radius: 5%;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}
