/* Products container */
#productsHolder {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  padding: 7px;
  border-radius: 2%;
  /* Container styles */
  background-color: rgba(199, 221, 197, 0.267);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
  transition: 1s;
}

#manage {
  width: 100vw;
  height: 100vh;
  animation: cardIntro 1s;
}

#caloguePageMainDiv {
  display: flex;
  position: relative;
  margin: auto;
  height: auto;

  width: 96vw;
  animation-name: cardIntro;
  animation-duration: 1s;
}

/* Product Cards */
#arrowLeft {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 350px;
}

#arrowLeftPic {
  position: absolute;
  height: 100px;
  width: 150px;
  bottom: 30%;
  left: -20%;
  opacity: 0;
}

#arrowRightPic {
  position: absolute;
  height: 100px;
  width: 150px;
  bottom: 30%;
  left: +20%;
  opacity: 0;
}

#arrowRight {
  position: absolute;
  display: inline-block;
  left: 50%;
  width: 150px;
  height: 350px;
}

#arrowRightPic:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.3s;
  animation: none;
  transform: scale(1.4);
}

#arrowLeftPic:hover {
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
  animation: none;
  transform: scale(1.4);
}

#productCardDescription {
  color: black;
  font-weight: 900;
}

#productCardTitle {
  color: black;
  font-size: calc(1vw);
  font-weight: 900;
  text-align: center;
  white-space: nowrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 12vw;
  height: 20vh;
  min-height: 50px;
  max-height: 380px;
  margin: calc(2vh);
  margin-bottom: 70px;

  font-family: arial;
  background-color: rgba(221, 197, 197, 0.363);
  animation-name: cardIntro;
  animation-duration: 1s;
  transition: 0.5s;
}

#productCardImage {
  width: 5vw;
  height: 15vh;
  margin: auto;
  max-height: 350px;
  max-width: 300px;
}

.card:hover {
  transform: scale(1.1);
}

#productCardImage {
  border-radius: 5%;
}

#button3 {
  position: absolute;
  color: white;
  max-width: 600px;
  font-size: calc(1vw);
  white-space: nowrap;
  opacity: 1;
  width: 12vw;
  max-height: 70px;
  background-color: black;
  transition: 0.5s;
  border-style: none;
  border-color: none;
}

.card button:hover {
  transform: scale(1.1);
  width: 150px;
  cursor: pointer;
}

@keyframes cardIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrowsAnim {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
