#menu {
  background-color: rgba(199, 221, 197, 0.267);
  margin-bottom: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
  border-radius: 2%;
  padding: 1px;
  margin-bottom: 30px;
}

#menu li {
  display: inline-block;
}

#menu li a {
  display: block;
  color: black;
  font-weight: 900;
  text-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 30px 30px;
  text-decoration: tomato;
  transition: 0.3s;
}

#menu li2 {
  float: right;
  color: black;
  font-weight: 900;
  text-align: center;
  padding: 30px 30px;
  text-decoration: tomato;
  text-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
  font-size: 30px;
}

#menu li a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

#menu about {
  float: right;
}

#menu span.logo {
  display: inline-block;
}
