.ProductView {
  margin: 20px 130px;
  text-align: center;
  font-family: arial;
  display: inline-block;
}

#productViewDiv {
  display: flex;
  position: relative;
  margin: auto;
  height: auto;
  max-width: 2000px;
}

#productInfo {
  padding: 20px 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: auto;
  height: auto;
  border-radius: 3%;

  border-color: black;
  border-width: 800;
  background-color: rgba(221, 197, 197, 0.363);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
}

#productImage {
  margin: auto;
  background-color: rgba(221, 197, 197, 0.363);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
  border-radius: 3%;
}

#btnUpdate,
#btnDelete {
  height: 50px;
  width: 200px;
  margin: 5px;
  color: black;
  font-weight: 800;
  background-color: #4caf50;
  border-color: black;
  border-width: 800;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}

#updateDesc {
  resize: none;
  height: auto;
  max-height: 540px;
  text-align: center;
  background: white;
  font-weight: 900;
  background: none;
  text-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
}

#updateTitle {
  resize: none;
  font-weight: 900;
  font-size: 25px;
  width: 500px;
  height: 50px;
  background: none;
  text-align: center;
  overflow: hidden;
  border-style: none;
  text-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
}

#price {
  width: auto;
  font-weight: 900;
}

#updatePrice {
  width: 80px !important;
  background: none;
  text-align: center;
  font-weight: 900;
  text-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-style: none;
  width: 100px;
  margin: 10px;
}

#urlDiv {
  font-weight: 900;
}

#updateUrl {
  border-style: none;
  background: none;
  width: 120px;
  margin: 10px;
}

#priceDiv {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

#buttonsDiv {
  display: flex;
  justify-content: center;
  justify-items: center;
}
