#productCreater2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
  border-radius: 2%;
  margin: 13px 20px;
  display: inline-block;
  text-align: center;
  font-family: arial;
  left: 0;
  height: 24vh;
  width: 20vw;
  min-width: 50px;
  min-height: 260px;
  background: rgba(199, 221, 197, 0.267);
}

#creatorTitle {
  font-size: calc(0.2em + 0.7vw);
}

#productCreater {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.568);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  border-radius: 2%;
  margin: 13px 20px;
  display: inline-block;
  text-align: center;
  font-family: arial;
  left: 0;
  height: 85vh;
  max-height: 700px;

  min-width: 350px;
  background: rgba(199, 221, 197, 0.267);
}

button2 {
  height: 7vh;
  max-height: 50px;
  font-size: calc(0.2em + 0.7vw);
  border: none;
  padding: 10px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 60%;
}

button2:hover {
  transform: scale(1.2);
}

#crtDescription2 {
  width: 95%;
  max-height: 150px;
  transition: 1s;
  height: 10vh;
  background-color: rgba(221, 197, 197, 0.363);
  resize: none;
  margin: 20px 0px;
}

#crtTitle2 {
  width: 95%;
  font-size: calc(0.2em + 0.7vw);
  height: 5vh;
  background-color: rgba(221, 197, 197, 0.363);
  resize: none;
  margin: 20px 0px;
  text-align: center;
}

#crtTitle {
  font-weight: 900;
}

#crtPrice {
  font-weight: 900;
  font-size: calc(0.2em + 0.7vw);
}

#crtPrice2::-webkit-inner-spin-button,
#crtPrice2::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#crtPrice2 {
  width: 20%;

  background-color: rgba(221, 197, 197, 0.363);
  resize: none;
  margin: 20px 0px;
  text-align: center;
}

#prdPicUrl2 {
  background-color: rgba(221, 197, 197, 0.363);
  resize: none;
  margin: 20px 0px;
}
